{
	"me": {
		"name": "cod.int",
		"desc": "Cod fishy",
		"nick": "Cod",
		"user": "fish",
		"host": "blub.blub",
		"servicespass": "FsmaCapyRCfZzeRndmHBteGdm1jGpnOPmLNHMINiulmZTDDNDPEiJHajLEJFeeGbTcDNrGqsEEthkrJGTGEDF3pyjFgiYMxCJJeX",

		"prefix": "@",
		"netname": "ShadowNET",

		"motd": "etc/cod.motd",
		"dbpath": "var/cod.db"
	},

	"uplink": {
		"host": "127.0.0.1",
		"port": 6667,
		"pass": "dev",
		"ssl": false,
		"protocol": "elemental-ircd"
	},

	"etc": {
		"debug": false,
		"production": true,
		"snoopchan": "#services",
		"staffchan": "#opers",
		"helpchan": "#help",
		"prefixfile": "etc/prefix.txt",
		"suffixfile": "etc/suffix.txt",
		"logfile": "var/cod.log"
	},
}
