{
	"me": {
		"name": "cod.int",
		"desc": "Cod fishy",
		"nick": "Cod",
		"user": "fish",
		"host": "blub.blub",
		"servicespass": "FsmaCapyRCfZzeRndmHBteGdm1jGpnOPmLNHMINiulmZTDDNDPEiJHajLEJFeeGbTcDNrGqsEEthkrJGTGEDF3pyjFgiYMxCJJeX",

		"prefix": "@",
		"netname": "ShadowNET",

		"motd": "etc/cod.motd",
		"dbpath": "var/cod.db"
	},

	"atheme": {
		"xmlrpc": "http://127.0.0.1:8080/xmlrpc"
	},

	"uplink": {
		"host": "127.0.0.1",
		"port": 6667,
		"pass": "dev",
		"ssl": false,
		"protocol": "elemental-ircd"
	},

	"etc": {
		"debug": false,
		"production": true,
		"snoopchan": "#services",
		"staffchan": "#opers",
		"helpchan": "#help",
		"prefixfile": "etc/prefix.txt",
		"suffixfile": "etc/suffix.txt",
		"logfile": "var/cod.log",
		"contrib": false,
		"autoload": [
			"help", "ctcp", "memusage", "source", "youtube", "say", "dnsbl",
			"hubstats", "tfw", "prefix", "btc"
		]
	},

	"web": {
		"port": 9996,
		"bindhost": "0.0.0.0",
		"templates": "web/templates"
	},

	"email": {
		"host": "some.email.server",
		"port": 22,
		"username": "lolemail",
		"password": "yeshello",
		"myemail": "lolemail@some.email.server"
	}
}
